//-------------------- VERSION MOBILE --------------//

.page-accueil{
    height: 844px;
    position: relative;
    margin-top: -2rem;
    padding: 7px 15px;
}

.p-acceuil{
    position: absolute;
    bottom: 3rem;
}

//-------------------- VERSION DESKTOP --------------//

@media screen and (min-width : 530px) {
    .page-accueil{
        height: 100vh;
    }  

    .page-accueil h2{
        width: 77vw;
        font-size: clamp(4.5rem, 3.117rem + 4.176vw, 6.875rem);
    }

    .p-acceuil{
        bottom: -1rem;
        width: 68vw;
        text-align: left;
        font-size: clamp(1.063rem, 0.917rem + 0.44vw, 1.313rem);
    }
}

