//-------------------- VERSION MOBILE --------------//

.page-accueil{
    height: 844px;
    position: relative;
    margin-top: -4rem;
    padding: 7px 15px;
    background: url('../Images/AccueilMobile.png') no-repeat center center;
    background-size: cover;
}

.p-acceuil{
    position: absolute;
    bottom: 3rem;
}

//-------------------- VERSION DESKTOP --------------//

@media screen and (min-width : 530px) {

    .page-accueil{
        height: 100vh;
        background: url('../Images/AccueilDesktop.png') no-repeat center center;
        background-size: cover;
        margin-top: 0;
    }  

    .page-accueil h2{
        width: 13ch;
        font-size: clamp(3.8rem, 2.117rem + 4.176vw, 6.875rem);
    }

    .p-acceuil{
        width: 51ch;
        text-align: left;
        font-size: clamp(.4rem, 0.8rem + 0.44vw, 1.6rem);
    }
}

