//-------------------- VERSION MOBILE --------------//

.page-gallerie{
    height: 844px;
    position: relative;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    padding: 7px 15px;
}

.page-gallerie h2{
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    font-size: 50px;
    color: #ff0000;;
}

.galerie-mobile{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column;
    height: 840px;
}

.galerie-mobile img{
    width: 77%;
    height: auto;
}

.galerie-mobile img:nth-child(1){
    padding-right: 3rem;
}

.galerie-mobile img:nth-child(3){
    padding-right: 2rem;
}

.galerie-desktop{
    display: none;
}

//-------------------- VERSION DESKTOP --------------//

@media screen and (min-width : 530px) {
    .galerie-mobile{
        display: none;
    }

    .page-gallerie {
    height: 100vh;
}

    .galerie-desktop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        width: 90vw;
    }

    .image1-2-3{
        display: flex;
    }

    .image1-2-3 > img{
        width: 10%;
        height: fit-content;
    }

    .image1-2{
        display: flex;
        flex-direction: column;
        width: 30%;
        gap: 1rem;
    }
    .galerie-desktop > img{
        width: 30%;
        height: fit-content;

    }

}

