//-------------------- VERSION MOBILE --------------//

.page-video{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

////// Grande Video //////

.video-grand{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
}

.video-grand.active{
    filter: blur(30px);
}

////// Bouton //////

.button-video{
    z-index: 20;
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
}

.button-video svg{
    width: 30%;
    fill: var(--Couleur-Texte);
    transition: 0.4s ease-in-out;
}

.button-video svg:hover{
    width: 35%;
}

.button-video.active{
    display: none;
}

.button-video img{
    width: 30%;
    filter: invert(1);
}

////// Petite Vidéo //////

.div-petit-video{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.div-petit-video.active{
    display: flex;
}

.video-petit{
    position: absolute;
    width: 90%;
    height: auto;
    min-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

//-------------------- VERSION DESKTOP --------------//

@media screen and (min-width : 530px) {
    .video-petit{
        position: absolute;
        width: 76%;
        min-width: 50%;
    }

    .button-petit-video{
        margin-top: 22%;
    }
}